.products{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 45px;
}
.product{
    width: 298px;
    height: 485.38px;
    /* padding: 20px 0; */
    top: 82.63px;
    left: 12px;
    gap: 0px;
    border-radius: 15px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid #ECECEC;
    margin: 0 auto;
}
.all{
width: 60.23px;
height: 31px;
padding: 7px 19.68px 9px 20px;
border-radius: 15px 0px 20px 0px;
background: #F74B81;
display: flex;
justify-content: center;
align-items: center;
/* margin-top: -20px; */
}
.all1 >p{
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    text-align: left;
    color: white;    
}

.product-card >img{
    width: 246px;
    height: 206px;
    margin-top: 10%;
    margin-left: 10%;   
}
.product-card >p{
    margin-top: 10%;
    margin-left: 10%;
    font-family: Poppins;
font-size: 15px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.47999998927116394px;
text-align: left;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow:hidden;

}
.yul{
    margin-left: 10%;   
    display: flex;
    padding: 10px 0;
}
.yul1 >img{
    width: 54px;
    height: 12px;
    
}
.yu1 >p{
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color:#B6B6B6;

}
.product-card >pre{
    margin-left: 10%;  
}
.pr {
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color:#B6B6B6;    
}
.pr >span {
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color:#F53E32; 
}
.narx{
    display: flex;
    align-items: center;
    margin-left: 10%;
    gap: 60px;
}
.narx-all >p{
    font-family: Quicksand;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: #3BB77E;

}
p >span{
    font-family: Quicksand;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
     text-align: left;
     color:  #ADADAD;

    
}
.all5{
    width: 84.91px;
    height: 36px;
    top: 408.38px;
    left: 192.09px;
    padding: 9px 19.64px 10px 20px;
    gap: 0px;
    border-radius: 4px 0px 0px 0px;
    background: #F53E32;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; 
}
.all6 >img{
    width: 14px;
    height: 14px;
    top: 14px;
    
}
.all6 >p{
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: #FFFFFF;    
}
